# Node & Next.js
node_modules/
.next/
out/
build/
dist/

# Databases & Backups
*.db
*.db-journal
prisma/data/
*.sqlite

# Environment variables
.env
.env*.local

# Logs & System
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
